cffi==1.17.1
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
fonttools==4.58.0
joblib==1.5.0
kiwisolver==1.4.8
matplotlib==3.10.3
noisereduce==3.0.3
packaging==25.0
pillow==11.2.1
pycparser==2.22
pyparsing==3.2.3
python-dateutil==2.9.0.post0
scipy==1.15.3
six==1.17.0
soundfile==0.13.1
tqdm==4.67.1
yodel==0.3.0
absl-py==2.3.0
audio-separator==0.34.0
audioread==3.0.1
beartype==0.18.5
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
coloredlogs==15.0.1
Cython==3.1.1
decorator==5.2.1
diffq==0.2.4
einops==0.8.1
filelock==3.18.0
flatbuffers==25.2.10
fsspec==2025.5.1
humanfriendly==10.0
idna==3.10
Jinja2==3.1.6
julius==0.2.7
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.44.0
MarkupSafe==3.0.2
ml_collections==1.1.0
mpmath==1.3.0
msgpack==1.1.0
networkx==3.4.2
numba==0.61.2
numpy==2.2.6
onnx-weekly==1.19.0.dev20250526
onnx2torch-py313==1.6.0
onnxruntime==1.22.0
packaging==25.0
pillow==11.2.1
platformdirs==4.3.8
pooch==1.8.2
protobuf==6.31.0
pycparser==2.22
pydub==0.25.1
PyYAML==6.0.2
requests==2.32.3
resampy==0.4.3
rotary-embedding-torch==0.6.5
samplerate==0.1.0
scikit-learn==1.6.1
scipy==1.15.3
setuptools==80.9.0
six==1.17.0
soundfile==0.13.1
soxr==0.5.0.post1
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.7.0
torchvision==0.22.0
tqdm==4.67.1
triton==3.3.0
typing_extensions==4.13.2
urllib3==2.4.0
